/* disini css about dimulai */
.main-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.main-about h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}

.description-main {
  max-width: 82rem;
  text-align: center;
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  max-height: 15rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.description-main h3 {
  font-family: 'Gijsuy-Gijsuy';
  margin-bottom: 1rem;
  color: #fe3989;
}

.description-main p {
  text-align: justify;
}
.about-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.mission,
.vision {
  flex: 1;
  max-width: 40rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.description-main:hover,
.mission:hover,
.vision:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.mission h3,
.vision h3 {
  font-family: 'Gijsuy-Gijsuy';
  text-align: center;
  margin-bottom: 1rem;
  color: #fe3989;
}

.mission ul {
  list-style-type: disc;
  padding-left: 1rem;
  text-align: justify;
}
.vision p {
  text-align: center;
}
/* disini css about berakhir */
