.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  border-radius: 0px 0px 30px 30px;
  transition: background-color 0.3s, backdrop-filter 0.3s;
  padding: 10px 30px;
}

.navbar-brand {
  flex: 0 1 auto;
  margin-right: 30px;
}

.navbar-nav-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
}

.navbar-nav .nav-item {
  margin: 0 15px;
}

.navbar-nav .nav-link {
  font-size: 20px;
  padding: 10px 15px;
  color: black;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: pink;
  transform: scale(1.1);
  transition: color 0.3s, transform 0.5s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: color 0.3s, transform 0.5s;
  -moz-transition: color 0.3s, transform 0.5s;
  -ms-transition: color 0.3s, transform 0.5s;
  -o-transition: color 0.3s, transform 0.5s;
}

.navbar-nav .contact {
  margin-left: auto;
  color: #000000;
  padding: 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-image: linear-gradient(45deg, #fe3989, #d9bfff);
  background-clip: padding-box;
  border: 2px solid transparent;
}
.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: white; /* Ganti warna sesuai kebutuhan */
  margin: 4px 0;
}

/* Media query untuk layar kecil */
@media (max-width: 768px) {
  .navbar-nav-wrapper {
    display: none; /* Sembunyikan navbar default */
    flex-direction: column; /* Tampilkan dropdown */
    position: absolute; /* Posisi absolut untuk dropdown */
    top: 80px; /* Jarak dari navbar */
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Latar belakang dropdown */
    border-radius: 0 0 30px 30px; /* Radius */
    z-index: 999; /* Pastikan di atas elemen lain */
  }

  .navbar-nav-wrapper.active {
    display: flex; /* Tampilkan dropdown ketika aktif */
  }

  .navbar-toggle {
    display: flex; /* Tampilkan ikon burger */
  }
}