::-webkit-scrollbar {
  width: 12px; /* Lebar scrollbar */
  height: 12px; /* Tinggi scrollbar (untuk horizontal scrollbar) */
}

/* Mengatur tampilan track (bagian latar belakang scrollbar) */
::-webkit-scrollbar-track {
  background-color: #d9bfff;
  border-radius: 10px;
}

/* Mengatur tampilan thumb (bagian yang bisa digeser) */
::-webkit-scrollbar-thumb {
  background-color: #fe3989;
  border-radius: 10px;
}

/* Untuk scrollbar horizontal */
::-webkit-scrollbar-thumb:horizontal {
  background-color: #fe3989; /* Warna pink untuk scrollbar horizontal */
  border-radius: 10px;
}
@font-face {
  font-family: 'Gijsuy-Gijsuy'; /* Nama font yang akan digunakan */
  src: url('../font/gijsuy-gijsuy-400.ttf') format('truetype'); /* Lokasi dan format font */
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Exo:100);

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes gradient-bounce {
  0% {
    background-position: 0% 0%; /* Mulai dari pojok kiri atas */
  }
  50% {
    background-position: 100% 100%; /* Bergerak ke pojok kanan bawah */
  }
  100% {
    background-position: 0% 0%; /* Kembali ke posisi awal */
  }
}

body {
  line-height: 1.7;
  font-size: 1.6rem;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 70px;
  margin-top: 0;
  font: 400 16px/1.5 exo, ubuntu, 'segoe ui', helvetica, arial, sans-serif;
  text-align: center;
  background: linear-gradient(45deg, #fe3989, #ffb8e4, #fe3989, #ffb8e4);
  background-size: 200%;
  background-attachment: fixed;
  animation: gradient-bounce 10s infinite alternate;
  -webkit-animation: gradient-bounce 10s infinite alternate;
  overflow-x: hidden;
}
#home,
#vision,
#services {
  padding-top: 70px;
  margin-top: -70px;
}

.custom-image {
  height: auto;
  width: 800px;
}
/* Default styling */
.image-container {
  display: flex;
  justify-content: space-between; /* Memisahkan slogan dan logo */
  align-items: center;
  height: 100vh;
  margin-right: 13rem;
}

.slogan {
  display: flex;
  flex-direction: column; /* Agar setiap kata muncul di bawah satu sama lain */
  margin-left: 20rem;
}

.slogan h1 {
  font-size: 120px; /* Memperbesar ukuran teks "Power" */
  font-weight: bold;
  margin: 0; /* Menghilangkan jarak antara elemen h1 */
}

.custom-image {
  height: auto;
  width: 47rem; /* Tentukan lebar gambar */
}

h1 {
  font-family: 'Gijsuy-Gijsuy';
  color: white;
  margin-top: 5%;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 15px 10px 3px rgba(190, 80, 79, 10); /* Dengan transparansi */
}
ul {
  list-style-type: disc;
  padding-left: 20px;
}

h2 {
  font-family: 'Gijsuy-Gijsuy';
  color: white;
  margin-bottom: 20px;
  font-size: 4rem;
  font-weight: semi-bold;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
p {
  color: #fe3989;
  margin-bottom: 15%;
}

.card {
  border: 2px solid #d9bfff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-text {
  font-size: 16px;
  color: #fe3989;
}

.custom-margin {
  margin-top: 15%;
  margin-bottom: 20%;
}

/* dari sini mulai untuk ngoding isinya yaitu container main */
.main-container {
  position: relative;
  margin-top: 1rem;
}
/* disini css services dimulai */
.services-container {
  display: flex;
  flex-direction: column;
}
#services {
  text-align: center;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.we-carousel {
  margin-top: 2rem;
  margin-bottom: 15rem;
}
/* disini css services berakhir */
